.vaccination-container {
  width: 100%;
  height: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 80px;
  padding-top: 40px;
  font-family: 'Roboto';
  background-color: #161625;
}

@media screen and (max-width: 576px) {
  .vaccination-container {
    padding: 20px;
    align-items: center;
  }
}

.page-heading {
  color: #cbd5e1;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .page-heading {
    font-size: 16px;
  }
}

.icon {
  margin-right: 10px;
}

.vaccination-content-container {
  width: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.top-site-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .top-site-container {
    flex-direction: column;
    align-items: center;
  }
}

.site-container {
  width: 350px;
  height: 125px;
  background-color: #2f2f43;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .site-container {
    width: 300px;
  }
}

.site-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.site-image {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

.site-main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.site-heading {
  color: #cbd5e1;
  font-size: 11px;
  margin-bottom: 2px;
}

.count {
  color: #ffffff;
  font-size: 10px;
  margin-top: 0px;
}

.bottom-site-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.sub-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
}

.site-head {
  color: #cbd5e1;
  font-size: 10px;
  margin-bottom: 2px;
}

.site-para {
  color: #e2e8f0;
  font-size: 9px;
  margin-top: 0px;
}

.vaccination-trends {
  width: 100%;
  padding: 20px;
  background-color: #1c1c2b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
  border-radius: 10px;
}

.cards-heading {
  color: #94a3b8;
  font-size: 16px;
}

.trends-tab-container {
  display: flex;
  flex-direction: row;
}

.tab-button {
  background-color: transparent;
  border: 0px solid;
  color: #94a3b8;
  font-size: 10px;
  margin-right: 20px;
  padding: 5px;
  cursor: pointer;
}

.highlight-tab {
  color: #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  border-bottom-width: 1px;
}

.vac-line-chart-large {
  width: 100%;
  height: 250px;
  margin-top: 10px;
  font-size: 12px;
}

.vac-line-chart-small {
  display: none;
}

@media screen and (max-width: 576px) {
  .vac-line-chart-large {
    display: none;
  }

  .vac-line-chart-small {
    display: block;
    width: 100%;
    height: 250px;
    margin-top: 10px;
    font-size: 6px;
  }
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

@media screen and (max-width: 576px) {
  .bottom-container {
    flex-direction: column;
  }
}

.vaccination-category {
  width: 49%;
  height: 420px;
  background-color: #1c1c2b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media screen and (max-width: 576px) {
  .vaccination-category {
    width: 100%;
    margin-bottom: 20px;
  }
}

.left-pie-charts {
  width: 100%;
  height: 48%;
  margin-bottom: 0px;
  font-size: 10px;
}

.vaccination-by-age {
  width: 49%;
  height: 420px;
  background-color: #1c1c2b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media screen and (max-width: 576px) {
  .vaccination-by-age {
    width: 100%;
  }
}

.right-pie-chart {
  width: 100%;
  margin-top: 20px;
  font-size: 10px;
}

.loader-container {
  width: 100%;
  flex-grow: 2;
}
