.navbar-container {
  background-color: #1e1e30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.logo-link {
  cursor: pointer;
  text-decoration: none;
}

.app-logo {
  font-family: 'Bree Serif';
  font-weight: 400;
  align-items: center;
  font-size: 20px;
  color: #f8fafc;
}

.blue {
  color: #3b82f6;
  font-family: 'Bree Serif';
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  margin-right: 10px;
}

.link {
  cursor: pointer;
  text-decoration: none;
}
